@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,600");

.container-menu {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
  background-color: white;
  height: 100%;
}

.mobile-container-menu {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  background-color: white;
  height: 100%;
}

.menu-top {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;

  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.image-top {
  height: 95%;
  object-fit: cover;
}

.image-top:hover {
  cursor: pointer;
}

.menu-main {
  display: grid;
  grid-template-columns: 100%;
  overflow: auto;
}

.menu-cell {
  display: grid;
  grid-template-columns: 170px auto;
  grid-template-rows: 100px;
  grid-gap: 15px;
  padding-top: 10px;
  height: 100px;
}

.mobile-menu-cell {
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-rows: 100px;
  grid-gap: 15px;

  height: 100px;
  width: 300px;

  align-self: center;
  justify-self: center;
  align-self: center;
  justify-self: center;
}

.menu-cell:hover {
  cursor: pointer;
}

.execImageBox {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-content: center;
  justify-content: right;
  align-items: center;
  justify-items: right;
}

.execImage {
  height: 100%;
  object-fit: cover;
}

.execNameBox {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;

  max-width: 200px;
  height: 100%;
}

.execName {
  justify-self: start;
  align-self: end;

  font-family: "Work Sans", sans-serif;
  font-size: 26px;
  letter-spacing: 0px;
  word-spacing: 2px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

.execTitle {
  justify-self: left;
  align-self: top;

  color: rgb(25, 186, 226);
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  word-spacing: 2px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

.mobile-execName {
  justify-self: start;
  align-self: end;

  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  letter-spacing: 0px;
  word-spacing: 2px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

.mobile-execTitle {
  justify-self: left;
  align-self: top;

  color: rgb(25, 186, 226);
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0px;
  word-spacing: 2px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

.provinceContainer {
  display: grid;
  font-family: "Work Sans", sans-serif;
  justify-content: center;

  letter-spacing: 0px;
  word-spacing: 2px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
}

.storeListContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  align-content: top;
  justify-content: center;
  align-items: top;
  justify-items: center;
}

.execStoreLabel {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  justify-self: center;

  color: gray;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  word-spacing: 2px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

.execStoreLabel:hover {
  color: rgb(11, 186, 224);
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .execName {
    font-size: 24px;
  }

  .execTitle {
    font-size: 12px;
  }

  .menu-cell {
    display: grid;
    grid-template-columns: 150px auto;
  }
}

@media screen and (max-width: 900) {
  .execName {
    font-size: 18px;
  }

  .execTitle {
    font-size: 8px;
  }

  .menu-cell {
    display: grid;
    grid-template-columns: 150px auto;
  }
}
