.container-instagram-gallery {
}

body {
  height: unset;
}

.container {
}

.imageList {
  all: unset;
  display: grid;
}

.insta_image {
  height: 200px;
  margin: 2%;
}

/* Gray Scale */
.hover08 figure img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.2s ease-in-out;
}
.hover08 figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

/*Image Effects*/

/* Zoom In #1 */
.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* Zoom Out #1 */
.hover03 figure img {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover03 figure:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.hover11 {
  max-width: 1596px;
  justify-self: center;
  align-self: center;
}

/* Opacity #1 */
.hover11 img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover11 img:hover {
  opacity: 0.8;
  position: float;
  z-index: 0;
}

@keyframes image_loading {
  0% {
    opacity: 0;
  }
  99% {
    transform: rotate(xx);
    opacity: 1;
  }
}

.loading {
  animation: image_loading 1s 0s linear;
}

.ReactModal__Overlay {
  z-index: 999;
}

@media screen and (max-width: 1596px) {
  .hover11 {
    max-width: 1300px;
  }
}

@media screen and (max-width: 1596px) {
  .hover11 {
    max-width: 1260px;
  }
}

@media screen and (max-width: 1270px) {
  .hover11 {
    max-width: 975px;
  }
}

@media screen and (max-width: 975px) {
  .hover11 {
    max-width: 700px;
  }
}

@media screen and (max-width: 700px) {
  .hover11 {
    max-width: 455px;
  }
}

@media screen and (max-width: 455px) {
  .hover11 {
    max-width: 360px;
  }

  .insta_image {
    height: 100px;
    margin: 2%;
  }
}

@media screen and (max-width: 360px) {
  .hover11 {
    max-width: 230px;
  }
}
