.container-instagram-gallery {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 100%;
  padding: 2px;

  align-items: center;
  justify-items: center;

  height: 100%;
}

.image {
  height: 100%;

  object-fit: cover;
  border-color: rgb(25, 186, 226);
  border-style: solid;
}

.slider {
  width: 100%;
  height: 100%;
}

.arrow_image {
  height: 77px;
  width: 47px;
}

.slick-slider,
.slick-list,
.slick-track {
  height: 100% !important;
}

.slick-slide {
  display: grid !important;
  height: 100% !important;

  grid-template-columns: 100%;
  grid-template-rows: 100%;

  align-items: center;
  justify-items: center;
}

.slick-slide > div {
  display: grid !important;

  grid-template-columns: 80%;
  grid-template-rows: 80%;

  height: 100% !important;
  width: 100% !important;

  align-items: center;
  justify-items: center;

  align-content: center;
  justify-content: center;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 50px !important;
  height: 50px !important;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.frontfacing{
  position: absolute;
  z-index: 999;
}

.ModalBox{
  display: grid;
  grid-template-columns: 1fr repeat(2,minmax(auto, 16em)) 1fr;
  border-style: none;
  outline: none;
}

.ModalBox div.box1 {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  padding: 5%;
}

.ModalBox div.box2 {
  grid-column: 2/4;
  grid-row: 1/2;
}

.ModalBox div.box3 {
  grid-column: 4/5;
  grid-row: 1/2;
  justify-self: center;
  align-self: center;
  column-span: 5%;
}

.ModalBox div.box4 {
  grid-column: 4/5;
  grid-row: 1/2;
  justify-self: start;
  align-self: start;
  column-span: 5%;
}

@keyframes image_loading{
    0%{
        opacity: 0;
        }
    99%{
        transform: rotate(xx);
        opacity: 1;
        }
}

.loadingModal{
    animation: image_loading 2s 0s linear;
}

*:focus {
    outline: none;
}
