

.background {
	/* The image used */
    background-image: url(../static/background.jpg);
    /* Set rules to fill background */
    background-size: 100%;
}


.map_background {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f3f3f4;
    padding-right: 0px;
    margin-top: 5%;
    margin-right: 15px;
    margin-bottom: 5%;

}