.logo2{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.store-list {
/*	background-color: white;
	max-width: 350px;
	min-width: 300px;
	max-height: 520px;
    margin-top: 5px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;*/
}

.executive_box {
	border: solid 1px black;
	max-width: 350px;
	min-width: 300px;
	max-height: 520px;
    margin-top: 5px;
    margin-left: 15px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
	background: rgba(0,0,255, 0.85);
}

.name{
	background-color: white;
}

.title{
	background-color: white;
}

.executive_container{
	background-color: white;
}