.ProgressCircle {
  width: 150px;
}

.distanceHeader {
  justify-self: left;
  align-self: end;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 380px) {
  .distanceHeader {
    font-size: 14px;
  }
}
