.height_full{
  height: 100%;
  overflow-y: hidden;
  background: url("./static/background-single.png") repeat;
}

.container {
  all:unset;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 80px 20px calc(98% - 225px) 125px;
  height: 100%;
  min-width: 850px;
  
}

.containerGallery{
  display: grid;
  grid-template-columns: 100%;
  background: url("./static/background-single.png") repeat;
}

.separator_row {
  grid-column: span 2;
  height: 20px;

}

.header {
  grid-column: span 2;
  height: 80px;
}

.footer {
  grid-column: span 2;

  max-height: 200px;
  max-width: 100%;
}

.main_left {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(10px, 600px);
  grid-auto-columns: minmax(10px, 300px);
  justify-items: end;
  align-content: center;
}

.main_right {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(10px, 600px);
  grid-auto-columns: minmax(10px, 500px);
  justify-items: start;
  align-content: center;
}

.menuBox {
  height: 100%;
  width: 100%;
  max-height: 600px;
  max-width: 500px;
}

.mapBox {
  height: 100%;
  width: 100%;
  max-height: 600px;
  max-width: 850px;
}
