.height_full {
  height: 100%;
  overflow-y: hidden;
  background: url("./static/background-single.png") repeat;
}

.container {
  all: unset;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px calc(98% - 225px) 125px;
  height: 100%;
  min-width: 850px;
}

.containerGallery {
  display: grid;
  grid-template-columns: 100%;
  background: url("./static/background-single.png") repeat;
}

.header {
  grid-column: span 2;
  height: 100px;
}

.footer {
  grid-column: span 2;

  max-height: 200px;
  max-width: 100%;
}

.main_both {
  grid-column: span 2;

  display: grid;
  grid-template-columns: 37% 63%;
  grid-auto-rows: minmax(10px, 515px);
  grid-auto-columns: minmax(10px, 800px);

  min-width: 1350px;

  justify-self: center;
  align-content: center;
}

.main_left {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(10px, 515px);
  grid-auto-columns: minmax(10px, 300px);
  justify-items: end;
  align-content: center;
}

.main_right {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(10px, 515px);
  grid-auto-columns: minmax(10px, 500px);
  justify-items: start;
  align-content: center;
}

.menuBox {
  height: 100%;
  width: 100%;
  max-height: 515px;
  max-width: 500px;

  justify-self: end;
  align-self: center;
}

.mapBox {
  height: 100%;
  width: 100%;
  max-height: 515px;
  max-width: 850px;

  justify-self: start;
  align-self: center;
}

@media screen and (max-width: 1250px) {
  .main_both {
    min-width: 900px;
    grid-template-columns: 37% auto;
  }
}

@media (max-height: 830px) {
  .menuBox {
    max-height: 475px;
  }

  .mapBox {
    max-height: 475px;
  }
}

@media (max-height: 795px) {
  .menuBox {
    max-height: 450px;
  }

  .mapBox {
    max-height: 450px;
  }
}

@media (max-height: 740px) {
  .menuBox {
    max-height: 425px;
  }

  .mapBox {
    max-height: 425px;
  }
}

.mobile_container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px calc(100% - 200px) 100px;
  height: 100%;
}

.mobile_navbar {
  background-color: white;
  height: 100px;
}

.mobile_main {
  height: 100%;

  display: grid;

  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.mobile_footer {
  background-color: white;
  height: 100px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;

  position: fixed;
  bottom: 0px;
  height: 100px;
  width: 100%;
}

.mobile_navbar_logo {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.mobile_navbar_image {
  height: 80px;
  justify-self: center;
  align-self: center;
}

.mobile_separator_row {
  height: 20px;
  background: url("./static/menu-line-single.png");
  z-index: 950;
}

.mobile_footer_box {
  height: 100%;

  display: grid;
  justify-content: center;
  justify-items: center;

  align-content: center;
  align-items: center;
}

.mobile_footer_image {
  height: 50px;

  justify-self: center;
  align-self: center;
}

.mobile_home_box {
  display: grid;

  grid-template-columns: 90%;
  grid-template-rows: 80%;

  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-self: center;

  background-color: white;
  height: 600;
  grid-row-gap: 40px;
  padding-top: 25px;
}

.mobile_home_image {
  width: 100%;
}

.mobile_home_message {
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
  word-spacing: 2px;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

.mobile_gallery_wrapper {
  max-height: calc(100% - 200px) !important;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 355px) {
  .mobile_home_message {
    font-size: 10px;
  }
}
